<div class="flex">
  <aside class="el-center my-2 px-4">
    <h4 class="pb-3">filter by</h4>
    <h5>Rating</h5>
    <nz-checkbox-group
      [(ngModel)]="ratingsCheckboxGroup"
      (ngModelChange)="filter(ratingsCheckboxGroup)"
    ></nz-checkbox-group>
    <br />
    <h5>Pricing</h5>
    <nz-checkbox-group
      [(ngModel)]="pricingCheckboxGroup"
      (ngModelChange)="filter(pricingCheckboxGroup)"
    ></nz-checkbox-group>
    <br />
      <h5>Room Type</h5>
    <nz-checkbox-group
      [(ngModel)]="roomCheckboxGroup"
      (ngModelChange)="filter(roomCheckboxGroup)"
    ></nz-checkbox-group>
    <!-- <h5>Amenities</h5>
    <nz-checkbox-group
      [(ngModel)]="amenetiesCheckboxGroup"
      (ngModelChange)="filter(amenetiesCheckboxGroup)"
    ></nz-checkbox-group> -->
  </aside>
  <section class="el-center w-full">
    <nz-select ngModel="{{sortBy}}" (ngModelChange)="sortByValueChanged($event)">
      <nz-option nzValue="relevance" nzLabel="Sort by relevance"></nz-option>
      <nz-option
        nzValue="price"
        nzLabel="Sort by price low to high"
      ></nz-option>
      <nz-option
        nzValue="-price"
        nzLabel="Sort by price high to low"
      ></nz-option>
    </nz-select>
    <h2 *ngIf="totalItems == 0">No results found</h2>
    <app-house-list
      (totalItemsEvent)="changeTotalItems($event)"
    ></app-house-list>
    <nz-pagination
      [nzPageIndex]="currPage"
      [nzPageSize]="5"
      [nzTotal]="totalItems"
      (nzPageIndexChange)="onPageIndexChange($event)"
    ></nz-pagination>
  </section>
</div>
