<header class="flex">
  <a routerLink="/">
    <span class="brand-name">Haus</span>
  </a>

  <!-- <app-search-bar *ngIf="showSearchBarHeader"></app-search-bar> -->
  <div *ngIf="userLoggedIn">
    <button class="button-s mr-1" (click)="navigate()">Hi, {{userName}}</button>
    <button class="button-p" (click)="logout()">logout</button>
  </div>
  <div *ngIf="!userLoggedIn">
    <button class="button-s mr-1">Become a Host</button>
    <button
      class="button-p"
      nz-popover
      routerLink="/login"
      [nzPopoverContent]="contentTemplate"
      nzPopoverPlacement="bottomRight"
    >
      Log in
    </button>
  </div>
  <ng-template #contentTemplate>
    <div>
      <a routerLink="/signup">New Here? Sign up</a>
    </div>
  </ng-template>
</header>
