<section class="mx-8 my-2 el-center">
  <div class="house_address my-2 flex">
    <h4>
      {{ house.title }} , {{ house.address.city }} , {{ house.address.state }}
    </h4>
    <h4>{{ house.ratingsAverage }}/5</h4>
  </div>
  <div class="house_detail flex">
    <div class="house_detail-carousel">
      <div class="flex carousel-container box-shadow-light">
        <img
          src="assets/images/arrow-left.svg"
          class="carousel-arrow carousel-arrow_left"
          (click)="prev($event)"
          alt=""
        />
        <nz-carousel
          class="carousel"
          [nzDots]="dots"
          [nzEffect]="effect"
          (click)="onClick()"
          #nzCarousel
        >
          <div nz-carousel-content *ngFor="let img of house.images">
            <img class="carousel-img" src="{{ img_prefix }}/{{ img }}" alt="" />
            <!-- <ik-image  nz-image class="carousel-img" path="homes/{{ img }}"></ik-image> -->
          </div>
        </nz-carousel>
        <img
          src="assets/images/arrow-right.svg"
          class="carousel-arrow carousel-arrow_right"
          (click)="next($event)"
          alt=""
        />
      </div>
      <div class="quick_facts mt-6 el-center">
        <h4>Quick Facts</h4>
        <ul>
          <li>
            <img class="quick_facts-icons" src="assets/images/{{house.homeType}}.svg" alt="" />
            <span>{{ house.homeType | titlecase }} Room</span>
          </li>
          <li>
            <img class="quick_facts-icons" src="assets/images/shared.svg" alt="" />
            <span>{{ house.totalOccupancy }} Occupants</span>
          </li>
          <li>
            <img class="quick_facts-icons" src="assets/images/bedroom.svg" alt="" />
            <span>{{ house.totalBedrooms }} Bedrooms</span>
          </li>
          <li>
            <img class="quick_facts-icons" src="assets/images/shower.svg" alt="" />
            <span>{{ house.totalBathrooms }} Bathrooms</span>
          </li>
          <li>
            <img
              class="quick_facts-icons"
              src="assets/images/{{
                house.furnishing == 'furnished' ? 'furniture.svg' : 'chair.svg'
              }}"
              alt=""
            />
            <span>{{ house.furnishing | titlecase }}</span>
          </li>
        </ul>
      </div>
      <div class="ameneties el-center">
        <h4>Amenities</h4>
        <ul>
          <li *ngFor="let item of ameneties">
            <img
              class="ameneties-icons"
              src="assets/images/{{ item }}.svg"
              alt=""
            />
            <span>{{ item }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="el-center house_detail-price-card box-shadow-light">
      <h5>₹{{ house.price }} /night</h5>
      <nz-range-picker
        [ngClass]="{ 'date-range-width': showSearchBarHeader }"
        [nzSize]="rangeSize"
        [ngModelOptions]="{ standalone: true }"
        [nzDisabledDate]="disabledDate"
        [nzFormat]="dateFormat"
        [(ngModel)]="date"
        (ngModelChange)="onDateChange($event)"
      >
      </nz-range-picker>
      <button class="button-p w-full" (click)="bookHouse()">Book Room</button>
      <h5>Total Price = ₹ {{ totalPrice }}</h5>
    </div>
  </div>
  <h4 class="map-heading mt-8 mb-2">Explore Nearby Areas</h4>
  <div class="map-container mb-4">
    <app-maps [coordinates]="houseCoordinates"></app-maps></div>
</section>
